.lead__title {
    display: flex;
    max-width: 720px;
    line-height: 100px;
    font-weight: 900;
    font-size: 96px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 32px;
    box-sizing: border-box;
    text-align: center;
}

/* ДЛЯ 425px до 767px*/
@media (max-width: 767px) {
    .lead__title {
        max-width: 400px;
        line-height: 58px;
        font-size: 54px;
    }
}

/* ДЛЯ 375px до 424px*/
@media (max-width: 424px) {
    .lead__title {
        max-width: 288px;
        line-height: 44px;
        font-size: 40px;
        margin-bottom: 16px;
    }
}