.footer__copyright {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

/* ДЛЯ 425px до 767px*/
@media (max-width: 767px) {
    .footer__copyright {
        margin-top: 48px;
        line-height: 14px;
    }
}